Repository WyvernIXTL/license-fetcher, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow-config, source-code, documentation

.github/labeler.yml:

workflow-config:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

source-code:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

docs: fixed links
  src/build/config/mod.rs
  src/build/mod.rs
  src/lib.rs
Labels: source-code

feat: added package! macro to construct package
  src/lib.rs
Labels: source-code

docs: updated readme
  README.md
  codebook.toml
  src/lib.rs
Labels: source-code, documentation

docs: added note regarding runtime execution
  README.md
Labels: documentation

ci: added full backtrace
  taskfile.yml
Labels: none

ci: added github grouped output
  taskfile.yml
  tests/test_buildscript/src/main.rs
Labels: none

docs: removed run of main function due to potential issue in ci
  src/lib.rs
Labels: source-code

updated excludes in Cargo.toml
  Cargo.toml
  codebook.toml
Labels: none

refactor: update exclude in cargo toml
  Cargo.toml
Labels: none

docs: update changelog to new minor version
  CHANGELOG.md
Labels: documentation

chore: Release license-fetcher version 0.8.0
  Cargo.toml
Labels: none

docs: fix docs.rs docs not building
  CHANGELOG.md
  Cargo.toml
Labels: documentation

chore: Release license-fetcher version 0.8.1
  Cargo.toml
Labels: none

fix: some root id not being parse correctly
  CHANGELOG.md
  src/build/metadata/mod.rs
Labels: source-code, documentation

tests: fixed execution of integration test
  tests/test_buildscript/Cargo.toml
Labels: none

chore: Release license-fetcher version 0.8.2
  Cargo.toml
Labels: none

docs: added section with caveats
  README.md
  codebook.toml
Labels: documentation

refactor: error instead of panic at missing root package
  src/build/metadata/mod.rs
Labels: source-code

chore: update changelog
  CHANGELOG.md
Labels: documentation

chore: Release license-fetcher version 0.8.3
  Cargo.toml
Labels: none

docs: added categories to manifest
  CHANGELOG.md
  Cargo.toml
Labels: documentation

chore: Release license-fetcher version 0.8.4
  Cargo.toml
Labels: none

removed: thiserror crate for slight speedup for build script
  Cargo.toml
  src/build/cache/mod.rs
  src/build/config/cargo_folder.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata/command.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
Labels: source-code

docs: update changelog
  CHANGELOG.md
Labels: documentation

removed: fnv crate for fewer dependencies of build script
  CHANGELOG.md
  Cargo.toml
  src/build/cache/mod.rs
  src/build/fetch/mod.rs
  src/build/metadata/mod.rs
Labels: source-code, documentation

changed: moved to lz4_flex and to bitcode
  CHANGELOG.md
  Cargo.toml
  src/build/mod.rs
  src/error.rs
  src/lib.rs
Labels: source-code, documentation

changed: moved to nanoserde for reduced compilation time
  CHANGELOG.md
  Cargo.toml
  src/build/metadata/metadata.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  src/error.rs
  src/lib.rs
Labels: source-code, documentation

removed: unused files
  .aider.conf.yml
  .aiderignore
  Cargo.toml
  cSpell.json
  codebook.toml
Labels: none

removed: unused ignores
  .gitignore
Labels: none

changed: turned off kv feature of log crate
  CHANGELOG.md
  Cargo.toml
  src/build/fetch/mod.rs
  src/build/mod.rs
Labels: source-code, documentation

fix: partial fix to build script of license-fetcher creating dummy file
  CHANGELOG.md
  build.rs
Labels: documentation

docs: added to changelog for new minor release
  CHANGELOG.md
Labels: documentation

docs: add section about more examples and fix some spelling
  .vscode/ltex.dictionary.en-US.txt
  README.md
Labels: documentation

fix: docs not building in ci
  build.rs
Labels: none

fix: the previous fix did nothing, this one might fix the doctest issue
  CHANGELOG.md
  build.rs
Labels: documentation

chore: Release license-fetcher version 0.9.0
  Cargo.toml
Labels: none

docs: update changelog to reflect api changing
  CHANGELOG.md
Labels: documentation

feat: add serde feature flag for proc macro derive of serde traits
  CHANGELOG.md
  Cargo.toml
  src/lib.rs
  taskfile.yml
Labels: source-code, documentation

chore: Release license-fetcher version 0.9.1
  Cargo.toml
Labels: none

chore: update copyright notice year
  LICENSE
  src/build/cache/mod.rs
  src/build/config/cargo_folder.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/error.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata/command.rs
  src/build/metadata/metadata.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  src/error.rs
  src/lib.rs
Labels: source-code
