Repository WyvernIXTL/license-fetcher, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow-config, source-code, documentation

refactor: reimplemented package list generation with new command execution function
  src/build/metadata/mod.rs
  src/lib.rs
Labels: source-code

feat: preemptively switched to fnv hasher
  Cargo.toml
  src/build/metadata/mod.rs
Labels: source-code

refactor: cargo tree execution
  src/build/metadata/mod.rs
Labels: source-code

refactor!: rewrite of package list generation
  src/build/metadata/command.rs
  src/build/metadata/mod.rs
Labels: source-code

removed: not needed clone
  src/build/metadata/mod.rs
Labels: source-code

feat: removed the need to explicitly input the root package name
  src/build/metadata/mod.rs
  src/lib.rs
Labels: source-code

removed: toml parsing from config
  .vscode/settings.json
  Cargo.toml
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
Labels: source-code

refactor!: removed most cache settings
  src/build/config/from_path.rs
  src/build/config/mod.rs
Labels: source-code

feat: split config into metadata and license fetching parts
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/metadata/mod.rs
Labels: source-code

feat: cache, disabling of cached packages
  build.rs
  src/build/cache/mod.rs
  src/build/fetch/mod.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  src/lib.rs
Labels: source-code

feat: recurse through subfolder that might hold a license
  src/build/fetch/mod.rs
Labels: source-code

feat: added enabled features to config for metadata fetching
  src/build/config/mod.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
Labels: source-code

feat: added enabled features to cargo calls
  src/build/metadata/command.rs
  src/build/metadata/mod.rs
Labels: source-code

feat: reimplemented the package list with license fetch function
  src/build/cache/mod.rs
  src/build/config/from_env.rs
  src/build/config/mod.rs
  src/build/fetch/mod.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  taskfile.yml
  tests/test_generate_licenses.rs
Labels: source-code

fix: bench
  benches/bench.rs
Labels: none

tests: added flamegraph gen to task file
  .gitignore
  Cargo.toml
  cSpell.json
  taskfile.yml
Labels: none

fix: test and bench not using locked manifest
  benches/bench.rs
  src/build/config/mod.rs
  tests/test_generate_licenses.rs
Labels: source-code

tests: added benches to seperatly test metadata and license fetching
  benches/bench.rs
  src/build/fetch/mod.rs
  src/build/mod.rs
  src/lib.rs
Labels: source-code

fix: unexpected bad performance during build script and benchmark with simultanious cargo call
  src/build/config/mod.rs
Labels: source-code

docs: added doc to license fetching function
  src/build/fetch/mod.rs
Labels: source-code

docs: removed todos regarding performance of metadata fetching
  src/build/metadata/mod.rs
Labels: source-code

tests: fix failing tests
  src/build/config/from_path.rs
Labels: source-code

docs: added not what the default value for cargo path is
  src/build/config/mod.rs
Labels: source-code

refactor!: removed fetch config
  benches/bench.rs
  src/build/config/mod.rs
  src/build/mod.rs
Labels: source-code

refactor!: renamed license fetch function
  benches/bench.rs
  src/build/fetch/mod.rs
  src/build/mod.rs
Labels: source-code

docs: made function that is public for benches hidden in docs
  src/build/fetch/mod.rs
Labels: source-code

refactor!: methods to encode, decode, write and read
  src/build/mod.rs
  src/lib.rs
Labels: source-code

fix: compilation failure duet to api change prior
  src/build/cache/mod.rs
Labels: source-code

tests: added integration test with build script
  Cargo.toml
  cSpell.json
  src/lib.rs
  taskfile.yml
  tests/test_buildscript/Cargo.toml
  tests/test_buildscript/LICENSE
  tests/test_buildscript/build.rs
  tests/test_buildscript/src/main.rs
Labels: source-code

ci: added new tests to ci
  .github/workflows/pr.yml
  .github/workflows/test.yml
Labels: workflow-config

chore: setup for zed editor
  .vscode/settings.json
  .zed/settings.json
  codebook.toml
Labels: none

removed: unused code workspace
  .vscode/settings.json
  lic-fetcher.code-workspace
Labels: none

refactor!: remove the need to handle errors during config build
  .vscode/settings.json
  benches/bench.rs
  docs/build_config.md
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/error.rs
  tests/test_buildscript/build.rs
  tests/test_generate_licenses.rs
Labels: source-code, documentation

docs: updated config doc to newest api
  docs/build_config.md
Labels: documentation

refactor: add common report join struct to license fetching
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/error.rs
  src/build/fetch/mod.rs
Labels: source-code

docs: moved config doc due to doc tests into module, hide some modules without public api
  docs/build_config.md
  src/build/config/mod.rs
  src/build/mod.rs
Labels: source-code, documentation

docs: added examples to build module
  codebook.toml
  src/build/mod.rs
Labels: source-code

docs: added some fixes to the advanced example
  src/build/mod.rs
Labels: source-code

docs: improved module docs of build
  codebook.toml
  src/build/mod.rs
Labels: source-code

docs: updated top level docs
  docs/lib.md
  src/error.rs
  src/lib.rs
Labels: source-code, documentation

.github/labeler.yml:

workflow-config:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

source-code:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
