Repository WyvernIXTL/license-fetcher, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow-config, source-code, documentation

.github/labeler.yml:

workflow-config:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

source-code:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

feat!: experimental implementation of exn for config mod
  src/build/config/cargo_folder.rs
  src/build/config/error.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/fetcher/error.rs
  src/prelude.rs
Labels: source-code

feat!: add filter to cache path getter func
  src/build/config/mod.rs
Labels: source-code

remove: comment
  src/build/config/mod.rs
Labels: source-code

feat!: add experimental exn parsing to config builder
  src/build/config/error.rs
  src/build/config/from_env.rs
Labels: source-code

refactor!: impl custom error message, removed exn from public interface of fetching step
  src/build/fetcher/error.rs
  src/build/fetcher/fetch/mod.rs
  src/build/fetcher/mod.rs
Labels: source-code

fix: compilation of integration test and benchmark
  benches/bench.rs
  tests/test.rs
Labels: none

refactor!: remove exn from write api
  src/build/write/error.rs
  src/build/write/mod.rs
Labels: source-code

remove: env from license fetcher internal error
  src/build/fetcher/error.rs
Labels: source-code

refactor!: changed error handling for config to fetcher mod style
  src/build/config/cargo_folder.rs
  src/build/config/error.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/fetcher/error.rs
  src/prelude.rs
Labels: source-code

docs: removed old docs mentioning exn as wrapper
  src/build/config/error.rs
  src/build/fetcher/error.rs
Labels: source-code

docs: use prelude for examples
  README.md
  src/build/config/mod.rs
  src/build/fetcher/error.rs
  src/build/mod.rs
  src/lib.rs
  tests/test.rs
Labels: source-code, documentation

test: changed test to use prelude
  tests/test_buildscript/build.rs
  tests/test_buildscript/src/main.rs
Labels: none

fix: tests and doctests failing
  src/build/config/mod.rs
  src/build/debug.rs
  src/build/fetcher/error.rs
  src/prelude.rs
Labels: source-code

test: put setup logger into integration tests
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/debug.rs
  src/build/mod.rs
  tests/test.rs
Labels: source-code

test: zed is a piece of shit
  tests/common/mod.rs
Labels: none

docs: add note about log output for tests
  DEVELOPMENT.md
Labels: documentation

ci: fix benchmark workflow failure
  .github/workflows/benchmark-pr.yml
Labels: workflow-config

docs: moved to different exception style for examples
  README.md
  src/build/mod.rs
  src/lib.rs
  tests/test_buildscript/build.rs
Labels: source-code, documentation

feat: make clear what error it is on failure
  src/build/config/error.rs
  src/build/fetcher/error.rs
Labels: source-code

fix: doctests failing due to dummy file triggering cache
  src/build/config/mod.rs
Labels: source-code

chore: bump dependencies
  Cargo.toml
Labels: none

build: include source in Cargo.toml instead of excluding
  Cargo.toml
Labels: none

feat!: upgrade to edition 2024
  Cargo.toml
  src/build/config/error.rs
  src/build/fetcher/error.rs
  tests/test.rs
Labels: source-code

fix: run cargo fmt
  benches/bench.rs
  src/build/config/cargo_folder.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/fetcher/cache/mod.rs
  src/build/fetcher/fetch/mod.rs
  src/build/fetcher/fetch/src_registry_folders.rs
  src/build/fetcher/metadata/exec.rs
  src/build/fetcher/metadata/exec_metadata.rs
  src/build/fetcher/metadata/mod.rs
  src/build/fetcher/mod.rs
  src/build/write/mod.rs
  src/prelude.rs
Labels: source-code

docs: update changelog
  CHANGELOG.md
Labels: documentation

docs: fix warnings in cargo doc
  src/build/config/mod.rs
  src/lib.rs
Labels: source-code

docs: rename wrong usage of crate to package
  CHANGELOG.md
  README.md
  src/build/fetcher/fetch/mod.rs
  src/build/fetcher/mod.rs
  src/lib.rs
  taskfile.yml
Labels: source-code, documentation

docs: fixing and polishing lib.rs docs
  src/build/mod.rs
  src/build/write/mod.rs
  src/lib.rs
  src/prelude.rs
Labels: source-code

docs: polish build module docs
  src/build/mod.rs
  src/error.rs
Labels: source-code

docs: polish config module docs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/mod.rs
Labels: source-code

docs: polish write module docs
  src/build/mod.rs
Labels: source-code

docs: polish fetcher module docs
  src/build/fetcher/error.rs
  src/build/fetcher/mod.rs
Labels: source-code

docs: add note in changelog about refactor
  CHANGELOG.md
Labels: documentation

chore: Release license-fetcher version 0.10.0-rc.1
  Cargo.toml
Labels: none

docs: update timings
  README.md
  img/cargo_timinings_v0.10.0.png
  img/timings-v0.10.0-rc.1-screenshot-8.png
  img/timings/timings-v0.10.0-rc.1.html
Labels: documentation

chore: Release license-fetcher version 0.10.0
  Cargo.toml
Labels: none

docs: add date to changelog
  CHANGELOG.md
Labels: documentation

docs: fix wording in readme
  README.md
Labels: documentation

ci: add cargo msrv find workflow
  .github/workflows/find-msrv.yml
Labels: workflow-config

ci: add check msrv job
  .github/workflows/find-msrv.yml
  .github/workflows/test.yml
Labels: workflow-config
