Repository WyvernIXTL/license-fetcher, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow-config, source-code, documentation

feat: add msrv
  Cargo.toml
Labels: none

build: add msrv check to taskfile
  taskfile.yml
Labels: none

docs: add changelog
  CHANGELOG.md
Labels: documentation

docs: add more docs to Package struct
  CHANGELOG.md
  src/lib.rs
Labels: source-code, documentation

chore: Release license-fetcher version 0.10.1
  Cargo.toml
Labels: none

docs: move some badges to badgen.net
  README.md
Labels: documentation

docs: comment out badgen github checks badge
  README.md
Labels: documentation

docs: fix line break in badges
  README.md
Labels: documentation

.github/labeler.yml:

workflow-config:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

source-code:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
