Repository WyvernIXTL/license-fetcher, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow-config, source-code, documentation

.github/labeler.yml:

workflow-config:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

source-code:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

feat: Add CargoDirectiveList for configuring metadata fetching
  .aiderignore
  .gitignore
  src/config.rs
Labels: source-code

refactor: add private package_name var
  src/config.rs
Labels: source-code

feat: from trait for cargo directive list
  src/config.rs
Labels: source-code

remove: compress and frozen feature flags
  Cargo.toml
  src/build/mod.rs
  src/config.rs
  src/error.rs
  src/lib.rs
Labels: source-code

refactor: moved config of build to build mod
  src/build/config.rs
  src/build/mod.rs
  src/lib.rs
Labels: source-code

feat: builder for config
  Cargo.toml
  src/build/config.rs
Labels: source-code

removed: builder derive in config in favor of custom approach
  .aider.conf.yml
  .gitignore
  Cargo.toml
  src/build/config.rs
Labels: source-code

feat! switched to snafu and custom builder
  Cargo.toml
  src/build/config.rs
  src/build/error.rs
  src/build/mod.rs
Labels: source-code

docs(build): improve ConfigBuilder documentation
  src/build/config.rs
Labels: source-code

feat: read name from toml
  .vscode/settings.json
  Cargo.toml
  src/build/config.rs
  taskfile.yml
Labels: source-code

test: config from path
  src/build/config.rs
Labels: source-code

refactor: split up config module
  .vscode/settings.json
  Cargo.toml
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  taskfile.yml
Labels: source-code

feat: switch to regex-lite
  Cargo.toml
  cSpell.json
  src/build/fetch.rs
Labels: source-code

feat: switched from simplelog to picolog
  Cargo.toml
  cSpell.json
  src/build/mod.rs
Labels: source-code

refactor!: renamed from_path feature to config_from_path
  .vscode/settings.json
  Cargo.toml
  src/build/config/mod.rs
  taskfile.yml
Labels: source-code

feat: initial switch to error-stack, major simplification in error handling
  src/build/config/from_env.rs
Labels: source-code

feat: swtiched completely to error-stack from snafu
  Cargo.toml
  src/build/config/from_path.rs
  src/build/config/mod.rs
Labels: source-code

docs(build/config): added module doc
  docs/build_config.md
  src/build/config/from_path.rs
  src/build/config/mod.rs
  taskfile.yml
Labels: source-code, documentation

docs(build/config): fixed broken links
  Cargo.toml
  cSpell.json
  docs/build_config.md
  src/build/config/from_path.rs
  taskfile.yml
Labels: source-code, documentation

fix: use change_context instead of thiserror:from implementation
  src/build/config/from_path.rs
Labels: source-code

removed: many unused attachements, added debug logger for tests
  Cargo.toml
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/debug.rs
  src/build/error.rs
  src/build/mod.rs
Labels: source-code

removed: error-stack hooks feature
  Cargo.toml
Labels: none

refactor!: renamed from_env to from_build_env for clarity
  docs/build_config.md
  src/build/config/from_env.rs
  src/build/config/mod.rs
Labels: source-code, documentation

removed: implicit logging in config from env, removed picolog in favor of simplelog as dev dep
  Cargo.toml
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/debug.rs
  src/build/mod.rs
Labels: source-code

tests: added color detection and enable color for error print
  Cargo.toml
  src/build/debug.rs
Labels: source-code

refactor: added context to io errors before switching, added context for other errors as well
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/error.rs
Labels: source-code

feat: added error-stack to cargo home function
  src/build/fetch/cargo_folder.rs
  src/build/fetch/mod.rs
Labels: source-code

refactor: changed CPath to hold PathBuf
  src/build/error.rs
Labels: source-code

refactor: added error-stack to src folder inference
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
Labels: source-code

refactor: license_text_from_folder to not throw
  Cargo.toml
  src/build/fetch/mod.rs
  src/build/mod.rs
Labels: source-code

refactor: licenses from src folder to not panic
  src/build/fetch/mod.rs
  src/build/mod.rs
Labels: source-code

refactor: simplified builder in config via derive_builder
  Cargo.toml
  src/build/config/cargo_folder.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
Labels: source-code

refactor: remove redundant code
  src/build/config/from_env.rs
  src/build/config/from_path.rs
Labels: source-code

refactor: slightly better ordering of functions
  src/build/config/from_env.rs
  src/build/config/from_path.rs
Labels: source-code

feat: set cargo home dir in config
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
Labels: source-code

docs(config): added example
  src/build/config/mod.rs
Labels: source-code

refactor(build): remove derive_builder dependency
  Cargo.toml
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
Labels: source-code

license!: switched from boost software license v1 to mozilla public license v2
  Cargo.toml
  LICENSE
  src/build/config/cargo_folder.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/debug.rs
  src/build/error.rs
  src/build/fetch/cargo_folder.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata.rs
  src/build/mod.rs
  src/error.rs
  src/lib.rs
Labels: source-code

docs: added rudimentary changelog
  CHANGELOG.md
Labels: documentation

feat: cargo command executed from a reusable function
  src/build/config/mod.rs
  src/build/fetch/cargo_folder.rs
  src/build/fetch/mod.rs
  src/build/metadata/command.rs
  src/build/metadata/metadata.rs
  src/build/metadata/mod.rs
Labels: source-code
