Repository WyvernIXTL/license-fetcher, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow-config, source-code, documentation

feat!: update error-stack to v0.7.0
  Cargo.toml
  src/build/cache/mod.rs
  src/build/config/cargo_folder.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/error.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata/exec.rs
  src/build/metadata/exec_metadata.rs
  src/build/metadata/exec_tree.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
Labels: source-code

fix(test): normalize whitespace in test assertions
  src/lib.rs
Labels: source-code

revert: error_stack removed support for extending reports and new functionality is gated by unstable flag
  Cargo.toml
  src/build/cache/mod.rs
  src/build/config/cargo_folder.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/error.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata/exec.rs
  src/build/metadata/exec_metadata.rs
  src/build/metadata/exec_tree.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
Labels: source-code

chore(deps): update regex-lite from 0.1.6 to 0.1.9
  Cargo.toml
Labels: none

removed: displaydoc in favor of manual display implementation
  Cargo.toml
  src/build/cache/mod.rs
  src/build/config/cargo_folder.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata/exec.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  src/error.rs
Labels: source-code

docs: add note about error_stack Reports
  src/lib.rs
Labels: source-code

style: reformat Display implementations for readability
  src/build/config/cargo_folder.rs
  src/build/config/mod.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  src/error.rs
Labels: source-code

feat(build): make directories dependency optional behind feature flag
  Cargo.toml
  src/build/config/cargo_folder.rs
  taskfile.yml
Labels: source-code

docs(changelog): add entry for making `directories` crate optional
  CHANGELOG.md
Labels: documentation

fix: periodic doc test failure
  src/build/mod.rs
Labels: source-code

docs: add performance timings documentation and report
  README.md
  img/cargo_timinings_v0.10.0.png
  img/timings/test-lf-v0.10.0-release.html
  src/lib.rs
Labels: source-code, documentation

docs: correct typo in timing note
  README.md
Labels: documentation

chore: add .gitattributes to ignore html for linguist
  .gitattributes
Labels: none

docs: fix github marking repo as html lang
  .gitattributes
Labels: none

docs: add documentation for directories feature flag
  src/lib.rs
Labels: source-code

docs: add conclusion about build script performance to README
  README.md
Labels: documentation

docs: update license library comparison
  README.md
Labels: documentation

test: put build script of readme into buildscript test crate
  tests/test_buildscript/build.rs
Labels: none

docs(readme): update workings section, polished stuff
  README.md
Labels: documentation

docs(readme): fix grammar
  README.md
Labels: documentation

docs: correct build script timing in README
  README.md
Labels: documentation

removed: directories crate in favour of stdlib function
  CHANGELOG.md
  Cargo.toml
  src/build/config/cargo_folder.rs
  src/lib.rs
Labels: source-code, documentation

chore(deps): bump log to 0.4.30 and lz4_flex to 0.13.1
  Cargo.toml
Labels: none

chore: update criterion to 0.8.2
  Cargo.toml
Labels: none

refactor!: remove error-stack dependency, add exn dependency
  Cargo.toml
Labels: none

refactor!: swtiched out package imports, fixed rough comp err, overhauled cache mod
  Cargo.toml
  src/build/cache/mod.rs
  src/build/config/cargo_folder.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/debug.rs
  src/build/error.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata/exec.rs
  src/build/metadata/exec_metadata.rs
  src/build/metadata/exec_tree.rs
  src/build/metadata/mod.rs
Labels: source-code

feat!: rework error into public and internal error with kinds
  src/build/error.rs
Labels: source-code

feat!: rewrite cache error handling to use new internal error
  src/build/cache/mod.rs
Labels: source-code

feat!: add new exn errors to fetch mod, add error docs with recovery
  src/build/error.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
Labels: source-code

test: add logging to file
  src/build/debug.rs
  src/build/error.rs
Labels: source-code

feat!: moved exec mod error handling to exn
  src/build/config/mod.rs
  src/build/error.rs
  src/build/fetch/mod.rs
  src/build/metadata/exec.rs
Labels: source-code

feat!: impl exn for exec_metadata
  src/build/error.rs
  src/build/metadata/exec.rs
  src/build/metadata/exec_metadata.rs
Labels: source-code

feat!: complete switch of metadata module to exn
  src/build/metadata/exec_tree.rs
  src/build/metadata/mod.rs
Labels: source-code

feat!: completed move to exn for fetching and writing
  src/build/cache/mod.rs
  src/build/config/mod.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/fetching_error.rs
  src/build/metadata/exec.rs
  src/build/metadata/exec_metadata.rs
  src/build/metadata/exec_tree.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
Labels: source-code

refactor!: fetcher, config and write into own modules
  src/build/config/mod.rs
  src/build/fetcher/cache/mod.rs
  src/build/fetcher/error.rs
  src/build/fetcher/fetch/mod.rs
  src/build/fetcher/fetch/src_registry_folders.rs
  src/build/fetcher/metadata/exec.rs
  src/build/fetcher/metadata/exec_metadata.rs
  src/build/fetcher/metadata/exec_tree.rs
  src/build/fetcher/metadata/json_parsing.rs
  src/build/fetcher/metadata/mod.rs
  src/build/fetcher/mod.rs
  src/build/fetcher/wrapper.rs
  src/build/mod.rs
  src/build/write/error.rs
  src/build/write/mod.rs
Labels: source-code

feat: add prelude
  src/prelude.rs
Labels: source-code

refactor!: something I forgor
  src/build/fetcher/mod.rs
  src/build/mod.rs
  src/build/write/error.rs
  src/build/write/mod.rs
  src/lib.rs
Labels: source-code

refactor: change visibility of fetcher error methods, add docs for f.e.
  src/build/config/error.rs
Labels: source-code

feat: the thing the last commit should have done
  src/build/fetcher/error.rs
Labels: source-code

refactor: add error mod to config
  src/build/config/mod.rs
Labels: source-code

.github/labeler.yml:

workflow-config:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

source-code:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
