Repository WyvernIXTL/license-fetcher, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow-config, source-code, documentation

.github/labeler.yml:

workflow-config:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

source-code:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

ci: add exclusions to coverage, set coverage to run on nightly
  .github/workflows/coverage.yml
  build.rs
  src/build/cache/mod.rs
  src/build/config/cargo_folder.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/error.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata/command.rs
  src/build/metadata/json_parsing.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  src/error.rs
  src/lib.rs
Labels: workflow-config, source-code

refactor!: better error docs, changed error display trait to be generated from docs by macro
  Cargo.toml
  src/build/cache/mod.rs
  src/build/config/cargo_folder.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/error.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata/command.rs
  src/build/metadata/json_parsing.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  src/error.rs
  src/lib.rs
Labels: source-code

refactor!: wip, removed fields from package, removed package macro, added package builder, does not compile
  benches/bench.rs
  src/build/fetch/mod.rs
  src/build/mod.rs
  src/build/wrapper.rs
  src/lib.rs
  tests/test.rs
Labels: source-code

refactor!: wip, metadata fetching returns iterator
  src/build/metadata/exec.rs
  src/build/metadata/exec_metadata.rs
  src/build/metadata/exec_tree.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  src/lib.rs
Labels: source-code

refactor!: cache mod to iterator, add new config option
  benches/bench.rs
  src/build/cache/mod.rs
  src/build/config/mod.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  src/lib.rs
  tests/test.rs
Labels: source-code

fix: this shit
  src/build/cache/mod.rs
  src/build/config/mod.rs
  src/build/fetch/mod.rs
  src/build/metadata/exec_metadata.rs
  src/build/mod.rs
  src/lib.rs
Labels: source-code

fix: compilation of tests
  Cargo.toml
  benches/bench.rs
  src/lib.rs
  tests/test.rs
  tests/test_crate/Cargo.toml
Labels: source-code

fix: doctests
  src/build/mod.rs
  src/lib.rs
Labels: source-code

fix: ci failing due to rename of out file
  build.rs
Labels: none

ci: turn fast fail for tests off
  .github/workflows/test.yml
Labels: workflow-config

ci: add build.rs change as reason for test run
  .github/workflows/test.yml
Labels: workflow-config

refactor!: more ergonomic package_list function
  benches/bench.rs
  src/build/config/mod.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
Labels: source-code

fix: doctests
  src/build/mod.rs
  src/lib.rs
Labels: source-code

docs: add more detailed changelog
  CHANGELOG.md
Labels: documentation

test: add fmt check to task
  taskfile.yml
Labels: none

docs: add superficial docs to public api for good measure?
  src/lib.rs
Labels: source-code

test(exec_tree): add test for parse_cargo_tree_output
  src/build/metadata/exec_tree.rs
Labels: source-code

docs: add examples to some public api, remove useless docs
  src/lib.rs
Labels: source-code

ci: consolidate clippy and fmt checks into main CI job
  .github/workflows/test.yml
  DEVELOPMENT.md
  taskfile.yml
Labels: workflow-config, documentation

docs(build): fix intra-doc link for read_package_list_from_out_dir
  src/build/mod.rs
Labels: source-code

test: replace manual tests with property-based fuzz tests using arbtest
  src/lib.rs
Labels: source-code

fix: correct typo in CacheError doc comment
  README.md
  src/build/cache/mod.rs
Labels: source-code, documentation

refactor: add .run() to test_ord_trait_for_package_does_not_panic
  src/lib.rs
Labels: source-code

docs: remove code coverage section from README
  README.md
Labels: documentation

docs: add Zed setup section with recommended extensions
  DEVELOPMENT.md
Labels: documentation

feat!: license texts will not be joined anymore
  src/build/cache/mod.rs
  src/build/fetch/mod.rs
  src/build/metadata/exec_metadata.rs
  src/build/mod.rs
  src/lib.rs
  tests/test.rs
Labels: source-code

fix(test): correct license text comparison in buildscript test
  tests/test_buildscript/src/main.rs
Labels: none

fix(tests): handle CRLF line endings in license text test
  tests/test.rs
Labels: none

ci: update runner images to ARM-based
  .github/workflows/benchmark-pr.yml
  .github/workflows/coverage.yml
  .github/workflows/pr-label.yml
  .github/workflows/test.yml
Labels: workflow-config

docs: update changelog
  CHANGELOG.md
Labels: documentation

docs: updated advanced example in mod.rs module
  src/build/mod.rs
  src/lib.rs
Labels: source-code

refactor: add lighter separator for license display
  src/lib.rs
Labels: source-code

docs: update changelog for recent API changes
  CHANGELOG.md
Labels: documentation

fix: correct typo in example
  src/build/mod.rs
Labels: source-code

feat: display with text wrapping
  Cargo.toml
  src/lib.rs
Labels: source-code

docs(changelog): update with new wrapping functionality, slim added
  CHANGELOG.md
Labels: documentation

docs: update error handling and feature documentation
  src/build/mod.rs
  src/lib.rs
Labels: source-code

docs: add new example output image
  img/example_print_v0.10.0.png
Labels: none

docs: update screenshot in readme
  README.md
Labels: documentation

docs: update changelog
  CHANGELOG.md
Labels: documentation
