Repository WyvernIXTL/license-fetcher, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow-config, source-code, documentation

.github/labeler.yml:

workflow-config:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

source-code:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

fix: the product of https://github.com/rust-lang/rust/pull/138907
  Cargo.toml
  src/lib.rs
  taskfile.yml
Labels: source-code

chore: Release license-fetcher version 0.9.2
  Cargo.toml
Labels: none

docs: add changelog note to patch
  CHANGELOG.md
Labels: documentation

docs: add missing header to changelog
  CHANGELOG.md
Labels: documentation

fix: packages with numbers in their name not being parsed
  CHANGELOG.md
  src/build/metadata/mod.rs
Labels: source-code, documentation

chore: Release license-fetcher version 0.9.3
  Cargo.toml
Labels: none

docs: add badges status to Cargo.toml
  Cargo.toml
Labels: none

build: parallel cargo check execution
  taskfile.yml
Labels: none

ci: faster tests, added audit, removed bench
  .github/workflows/cargo-audit.yml
  .github/workflows/pr.yml
  .github/workflows/test.yml
  DEVELOPMENT.md
  taskfile.yml
Labels: workflow-config, documentation

docs: change description task
  taskfile.yml
Labels: none

ci: readd benchmark of pr
  .github/workflows/benchmark-pr.yml
Labels: workflow-config

ci: add fossa and codecov
  .github/workflows/coverage.yml
  .github/workflows/fossa.yml
Labels: workflow-config

ci: fix fossa run
  .github/workflows/fossa.yml
Labels: workflow-config

docs: add fossa and codecov results to readme
  README.md
Labels: documentation

ci: add paths filter such that workflows do not run that often
  .github/workflows/coverage.yml
  .github/workflows/fossa.yml
  .github/workflows/pr-label.yml
  .github/workflows/test.yml
Labels: workflow-config

docs: add build badge
  README.md
Labels: documentation

ci: use token for codecov instead
  .github/workflows/coverage.yml
Labels: workflow-config

docs: moved lib.rs badge again
  README.md
Labels: documentation

test: add tests for misc functionallity so that codecov is happy
  .github/workflows/cargo-audit.yml
  Cargo.toml
  src/lib.rs
Labels: workflow-config, source-code

test: add missing greater check
  src/lib.rs
Labels: source-code

ci: fix cargo audit
  .github/workflows/cargo-audit.yml
Labels: workflow-config

fix: typo
  src/lib.rs
Labels: source-code

test: add ord trait not crash test, rename tests with test_ prefix
  src/lib.rs
Labels: source-code

ci: exclude unit tests from coverage
  Cargo.toml
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/metadata/metadata.rs
  src/build/metadata/mod.rs
  src/lib.rs
Labels: source-code

fix: most clippy warnings
  Cargo.toml
  build.rs
  src/build/cache/mod.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata/json_parsing.rs
  src/build/metadata/mod.rs
  src/lib.rs
  tests/test_generate_licenses.rs
Labels: source-code

ci: remove cargo audit
  .github/workflows/cargo-audit.yml
Labels: workflow-config

fix: disable wrong clippy warning in json_parsing
  src/build/metadata/json_parsing.rs
Labels: source-code

remove: exclusion of unit test for coverage as not supported on stable
  build.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/metadata/json_parsing.rs
  src/build/metadata/mod.rs
  src/lib.rs
Labels: source-code

ci: add clippy to test
  .github/workflows/test.yml
Labels: workflow-config

fix: some clippy pedantic lints
  src/build/error.rs
  src/build/metadata/command.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  src/error.rs
  src/lib.rs
Labels: source-code

fix!: clippy lints
  CHANGELOG.md
  benches/bench.rs
  src/build/cache/mod.rs
  src/build/config/from_env.rs
  src/build/config/from_path.rs
  src/build/config/mod.rs
  src/build/fetch/mod.rs
  src/build/fetch/src_registry_folders.rs
  src/build/metadata/mod.rs
  src/build/mod.rs
  src/lib.rs
  tests/test_buildscript/build.rs
  tests/test_generate_licenses.rs
Labels: source-code, documentation

docs: fix grammar in changelog
  CHANGELOG.md
Labels: documentation

docs: fix more grammar in changelog
  CHANGELOG.md
Labels: documentation

chore: add clippy cargo rule
  src/lib.rs
Labels: source-code

test: add more integration tests
  Cargo.toml
  README.md
  tests/test.rs
  tests/test_generate_licenses.rs
Labels: documentation

fix: test writing to root
  CHANGELOG.md
  src/build/mod.rs
Labels: source-code, documentation

fix: tests failing due to unsafe code in tests, lol
  Cargo.toml
  src/build/mod.rs
  tests/test.rs
Labels: source-code

docs: remove mention of fix, likely false
  CHANGELOG.md
Labels: documentation

ci: run tests on windows, macos and linux
  .github/workflows/test.yml
Labels: workflow-config

ci: remove fossa scans as fossa is too retarded to understand the principle of OR in Cargo.toml license field
  .github/workflows/fossa.yml
  README.md
Labels: workflow-config, documentation
